dialog {
  padding: 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#confirmation-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
}

.cancel-button, .blue-button {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

.cancel-button {
  background-color: gray;
}

.blue-button {
  background-color: dodgerblue;
}
